<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</head>
<body>
    <div>
        <a href="/">Home</a> ||
        <a href="/login">Login</a> ||
        <a href="/register">Register</a>
    </div>
    <div class="container">
        <h1>Welcome to BukanPinjol</h1>
        <p>We are a platform that connects borrowers with lenders in a safe and secure way.</p>
        <a href="/register" class="btn btn-primary">Get Started</a>
    </div>
</body>
</html>