<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"> -->
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Bukan Pinjol</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
          <a class="navbar-brand navbar-right"><img src="/logo/BukanPinjol1.png" alt="Logo" width="50"></a>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to BukanPinjol</h1>
        <p>We are a platform that connects borrowers with lenders in a safe and secure way.</p>
        <p>About US</p>
        <p>BukanPinjol is one of the leading financial institutions in Indonesia with more than 10 years of experience in providing innovative banking solutions to our customers. We are committed to being a trusted financial partner for individuals, businesses and communities throughout Indonesia.</p>
        <p>Vision and Mission</p>
        <p>Our vision is to be the "First Choice in Financial Services" by providing superior, affordable and sustainable banking services. To achieve this vision, we have several main missions:</p>
        <p>1. Innovation and Technology: We continue to encourage innovation and adopt the latest technology in order to increase the efficiency and accessibility of our services.</p>
        <p>2. Providing Service Excellence: We always strive to provide the best customer service by focusing on the satisfaction and needs of our customers.</p>
        <br>
        <p>Products and Services</p>
        <p>BukanPinjol offers a variety of banking products and services designed to meet your financial needs:</p>
        <p>1. Savings and Current Accounts: Flexible savings and current accounts with competitive interest rates.</p>
        <p>2. Investment: Smart investment solutions to help you achieve your financial goals.</p>
        <p>3. Digital Services: Easy access through our online banking services and mobile applications.</p>
        <p>Contact us</p>
        <p>We are happy to help you achieve your financial goals.</p>
        <br>
        <p>Thank you for choosing BukanPinjolas your financial partner. We hope to help you achieve financial success.</p>
        <a href="/register" class="btn btn-primary">Get Started</a>
    </div>
</body>
</html>