<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>
    <body>
        <% if (errors) { %>
            <% errors.forEach(error => { %>
                <p style="color: red;"><%= error %></p>
            <% }) %>
          <% } %>
        <form action="/register" method="POST">
            <div>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" required>
            </div>

            <div>
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" required>
            </div>

            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Alphabets and Numeric only" required>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>

            <div>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
            </div>

            <div>
                <input type="radio" id="admin" name="role" value="1">
                <label for="admin">Admin</label>

                <input checked="checked" type="radio" id="notAdmin" name="role" value="0">
                <label for="notAdmin">Not Admin</label>
            </div>

            <button type="submit">Register</button>
        </form>
        <!-- <script>
            // Password validation
            // has to be at least 6 characters long
            // has to match confirm password
            const password = document.getElementById('password');
            const confirmPassword = document.getElementById('confirmPassword');
            confirmPassword.addEventListener('input', () => {
                if (password.value.length < 6 || password.value.length > 32) {
                    confirmPassword.setCustomValidity('Password must be 6-32 characters long');
                } else if (confirmPassword.value !== password.value) {
                    confirmPassword.setCustomValidity('Passwords do not match');
                } else {
                    confirmPassword.setCustomValidity('');
                }
            });

            // Username validation
            // has to be at least 3 characters long
            // only contains alphabets and numbers
            const username = document.getElementById('username');
            username.addEventListener('input', () => {
                const regex = /^[a-zA-Z0-9]+$/;
                if (username.value.length < 3) {
                    username.setCustomValidity('Username must be at least 3 characters long');
                } else if (!regex.test(username.value)) {
                    username.setCustomValidity('Username can only contain alphabets and numbers');
                } else {
                    username.setCustomValidity('');
                }
            });
        </script> -->
    </body>
</html>